@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:300,400,500,700,900|Work+Sans:400,500,600,700,800&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    margin: 0px;
}

.flex-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-bar {
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 999;
    display: block;
}
.menu li {
    cursor: pointer;
}

.img-logo {
    width: 250px;
    height: 66px;
}

.header-right {
    margin: 60px auto;
}

.container-full {
    max-width: 100%;
    margin: 100px auto;
    padding: 0 100px;
}

.container {
    max-width: 100%;
    width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.left-side h3 {
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
}

.left-side p {
    font-size: 13px;
    line-height: 22px;
    color:#aaa;
}

.left-side button {
    border: none;
    color:#fff;
    border-radius: 50px;
    padding: 16px 40px;
    font-size: 13px;
    text-transform: uppercase;
    background-color:#22a3d6;
}

.left-side button:hover {
    background-color: black;
    transition: all 0.3s ease;
}

.left-side .btn-right {
    background-color: #fff;
    color: #22a3d6;
    border: 2px solid #22a3d6;  
}

.left-side .btn-right:hover {
   color: black;
   background-color: transparent;
   border: 2px solid #22a3d6;
}

.right-side img {
    max-width: 100%;
    height: auto;
}

.box {
    background-color: #f7f7f7;
    padding: 25px;
    margin: 0 15px;
}

.box i {
    font-size: 70px;
    color: #22ced68c;
}

.box h3 {
    font-size: 14px;
    line-height: 21px;
}

.box p {
    font-size: 13px;
    line-height: 22px;
    color:rgb(170, 170, 170);
}

.title_section {
    text-align: center;
    padding: 40px 0;
}

.title_section h3 {
    margin-bottom: 0;
    font-size: 46px;
    font-weight: 700;
    line-height: 60px;
}

.title_section p {
    color:#1db4c1;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex > div {
    flex: 1;
    padding: 20px;
}

.center {
    text-align: center;
    margin: 50px auto;
}

 .btn {
    border: none;
    color:#fff;
    border-radius: 50px;
    padding: 16px 40px;
    font-size: 13px;
    text-transform: uppercase;
}

 .btn-left {
    background-color: #fff;
    color: #1db4c1;
}

 .btn-left:hover {
    background-color: rgba(255,255,255,.8);
    transition: all 0.2s ease;
}

 .btn-right {
    background-color: transparent;
    border: 2px solid #fff;
    margin-left: 20px;
}

 .btn-right:hover {
    border: 2px solid rgba(255,255,255, 0.6);
    transition: all 0.2s ease;
    background-color: transparent;
    color: #fff;
}

.background .title_section {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    
}
.background .title_section h3 {
    color: #fff;
    font-size: 32px;
    line-height: 44px;
}

.background .title_section p {
    color: #fff;
    font-size: 13px;
    line-height: 22px;
}

.dental_team .box {
    border: 1px solid rgba(255,255,255,0.35);
    text-align: center;
    background-color: rgba(255,255,255,0.2);
    margin-bottom: 90px;
}
.dental_team .image-wrap {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.testimonial-descr {
    background: linear-gradient(200deg, #45dacb, #30a7d6);
    margin-bottom: 25px;
    border-radius: 10px;
}

.testimonial-quote p {
    text-align: center;
    margin: 0 auto;
    color: #aaa;
    width: 640px;
}

.testimonial-info img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 50px;
}

.testimonial-descr {
    padding: 22px;
    width: 270px;
}

.testimonial-name {
    margin-bottom: 0;
}

.testimonial-job {
    font-size: 13px;
    line-height: 19px;
    color: #aaaaaa;
}

.testimonial-quote {
    margin: 60px auto;
}

.title_section .brands {
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    margin: 40px auto;
}

.block-brand {
    display: inline-block;
    margin-bottom: 48px;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    border-color: #1db4c1;
    width: 200px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    position: relative;
}

.img-brand {
    max-width: 100%;
    height: auto;
}

.img-gallery {
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 1fr 0.2fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 
            ' . img-1 img-2 img-3 . '
            ' . img-4 img-5 img-6 . ';
}

.img-gallery a {
    width: 100%;
    height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.img-gallery a i {
    color: rgba(255,255,255, 0.6);
    font-size: 1rem;
    position: relative;
    z-index: 100;
    padding: 1rem 1rem;
    border: 2px solid rgba(255,255,255, .6);
    border-radius: .4rem;
    opacity: 0;
    transition: opacity .5s;
}

.img-gallery a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    opacity: 0;
    transition: opacity .5s;
}

.img-gallery a:hover i,
.img-gallery a:hover::before {
    opacity: 1;
}

.img-1 {
    grid-area: img-1;
    background-image: url("./images/gallery_1_dentist.jpg");
}

.img-2 {
    grid-area: img-2;
    background-image: url('./images/gallery_2_dentist.jpg');
}

.img-3 {
    grid-area: img-3;
    background-image: url('./images/gallery_3_dentist.jpg');
}

.img-4 {
    grid-area: img-4;
    background-image: url('./images/gallery_4_dentist.jpg');
}

.img-5 {
    grid-area: img-5;
    background-image: url('./images/gallery_5_dentist.jpg');
}

.img-6 {
    grid-area: img-6;
    background-image: url('./images/gallery_6_dentist.jpg');
}

/* Customize header section */

header {
    background-image: linear-gradient(-90deg,rgba(35,130,219,0.9), rgba(59,239,215,0.9)), url('./images/dentist_1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    padding: 0;
}

.header-img {
    width: 43%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

.header-container {
    position: relative;
}

header h2, header h3, header p {
    color: #fff;
}

header h2 {
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
}

header h3 {
    font-size: 44px;
    font-weight: 800;
    line-height: 60px;
    margin-top: 30px;
}

header p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 40px;
    width: 480px;
}

.dental_service {
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
}

.dental_service i {
    font-size: 70px;
    color: #22ced68c;
    line-height: 70px;
}

.dental_service h3 {
    margin-bottom: 7px;
    font-size: 23px;
    line-height: 33px;
    font-weight: 600;
}

.dental_service p {
    font-size: 13px;
    line-height: 22px;
    color:#aaaaaa;
}

.separator {
    margin-top: 100px; 
    margin: 0 auto;
    width: 80%; 
    position: relative; 
}

.divider {
    overflow: hidden;
    height: 20px;
    border-radius: 100%; 
}

.divider::after {
    content:''; 
    display: block; 
    margin: -25px auto 0;
    width: 100%; 
    height: 25px;  
    border-radius: 125px / 12px;  
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.btn-right{
    color: white;
    border: 2px solid #fff;
    margin-left: 20px;
}

.top-bar {
    border-top: 1.2px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}

.top-bar ul {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-size: 11px;
    cursor: pointer;
}

.top-bar ul li a {
    text-decoration: none;
}

.top-bar #address li {
    margin-right: 25px;
}

.top-bar #address li a:hover {
    color: #51bcc6;
}

.top-bar #address i {
    padding-right: 8px;
    font-size: 20px;
    color: #51bcc6;
}

.top-bar #links li {
    margin-left: 30px;
    font-size: 15px;
    color: #aaaaaa;
    line-height: 24px;
}

.top-bar #links li:hover {
    color:#51bcc6
}

.menu {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    list-style-type: none;
    font-size: 15px;
    line-height: 24px;
}

.menu li:hover {
    color: #1db4c1;
}

nav {
    margin-top: 28px;
}

nav li {
    margin-left: 45px;
}

nav #search {
   padding-left: 10px;
}

nav li {
    text-decoration: none;
}

.container_2 {
    max-width: 100%;
    width: 1400px;
    margin: 15px auto;
    padding: 0;
}

.dental_service_1{
    text-align: center;
}

.container .btn-center {
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    border: 2px solid #eaeaea;
    color: #eaeaea;
}

.btn-center:hover {
    color:black;
}

.btn-center:focus {
    outline: none;
}

.container_1600px {
    max-width: auto;
    padding: 0;
    margin: 0 auto;
}
.background {
    background-image: linear-gradient(-90deg,rgba(35,130,219,0.9), rgba(59,239,215,0.9)), url('./images/dentist_3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.member-info {
    margin: 0 5%;
}

.member-title {
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
}

.member-position {
    color: #2b97a8;
    margin-bottom: 13px;
}

.member-inner-info p {
    color: #ffffff;
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 20px;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.social-media i {
    font-size: 15px;
    margin: 10px 40px 10px 0;
    color: #fff;
    cursor: pointer;
}
.social-media i:hover {
    color: #51bcc6;
}

.block-testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 50px;
}

.testimonial-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: absolute;
    bottom: -40px;
}

.testimonial-info::before {
    content: '';
    position: absolute;
    top: -23px;
    left: 23px;
    border-width: 8px 7px 0;
    border-color: #30a7d6 transparent transparent transparent;
    width: 0;
    height: 0;
    border-style: solid;
}

.container-stretch {
    width: 100%;
    margin: auto;
}

.contact-us {
    position: relative;
    display: block;
}

.address, .telephone, .email {
    padding-left: 50px;
}
.contact-us::after {
    content: '';
    background-image: url('./images/dentist_5.jpg');
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    padding: 0;
}

.flex > .contact-us, .flex > .google-map {
    flex: 1;
    padding: 52px 0 49px 0;
}
.email a {
    text-decoration: none;
    color: #1db4c1;
}

.tdm-title {
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 28px;
}

.tdm-descr {
    font-size: 13px;
}

.contact {
    margin-top: 60px;
}

.bottom-separator {
    background: linear-gradient(15deg,#22a3d6, #39e5d4);
    margin-top: -50px;
}

.bottom-separator .flex {
    position: relative;
    justify-content: space-between;
}

.bottom-separator .tdm-title {
    margin-left: 6%;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    color: #fff;
}


.bottom-separator .btn-bottom {
    margin-right: 6%;
    border: none;
    color:#fff;
    border-radius: 50px;
    padding: 16px 40px;
    font-size: 13px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.15);
    transition: all .3s ease;
}
.bottom-separator .btn-bottom:hover{
    background-color: #222;
    opacity: 0.6;
}

.footer-container {
    width: 100%;
    height: 400px;
    padding: 60px 75px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #444f5d;
}

.footer-col {
    width: 25%;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    float: left;
}

.footer-container .tdm-title {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.tdm-line {
    width: 50px;
    height: 5px;
    display: table;
    position: relative;
    margin-bottom: 50px;
}

.tdm-underline {
    width: 100%;
    height: 6px;
    display: table;
    position: relative;
    margin-bottom: 10px;
}

.tdm-underline::after {
    background: rgba(255,255,255,0.2);
    height: 1px;
    bottom: -100%;
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    transition: all .2s ease;
}

.tdm-line::after {
    background: #51bcc6;
    height: 1px;
    bottom: -100%;
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    transition: all .2s ease;
}

.footer-container ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

.footer-container ul a {
    text-decoration: none;
    color:rgba(255,255,255,0.6);;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
}
.footer-container ul a:hover {
    color: #fff;
}

.footer-col {
    display: block;
    float: left;
}

.footer-container .tdm-title {
    margin-top: 10px;
    text-align: left;
}

.sub-footer p {
    text-align: center;
    color: rgba(255,255,255,0.6);
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
    background-color: #353d4c;
    margin: 0;
    padding: 15px;
}

.mobile-sticky-menu {
    display:none;
}

.sticky img {
    width: 180px;
    height: 48px;
}
.sticky .flex > div {
    padding: 0;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0;
    border-bottom: 1px solid #eaeaea;
}

/* Scroll-up button */

#scroll-up {
    display: none;
    position: fixed;
    bottom: 4px;
    right: 5px;
    z-index: 99;
    font-size: 22px;
    border: none;
    outline: none;
    background-color: #1db4c1;
    color: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  .contact-us h3 {
      margin-bottom: 0;
  }
  .contact-us p {
      margin-top: 0;
  }
  
/* Responsiveness */

@media (max-width: 1118px) and (min-width: 768px){
    .img-logo {
        width: 180px;
        height: 48px;
    }
    .menu li {
        margin-left: 30px;
    }
    .header-right {
        margin: 30px auto;    
    }
    .header-right h2 {
        font-size: 25px;
        line-height: 10px;
    }
    .header-right h3 {
        font-size: 26px;
        line-height: 30px;
    }
    .header-right p {
        width: 350px; 
        font-size: 16px;
        line-height: 26px;   
    }
    .container-full {
        padding: 0;
        margin: 0;
    }
    .left-side h3 {
        font-size: 20px;
        line-height: 30px;
    }
    .right-side img {
        height: 250px;
    }
    .title_section h3 {
        font-size: 26px;
        line-height: 34px;
    }
    .img-gallery {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        grid-template-areas: 
                'img-1 img-2'
                'img-3 img-4'
                'img-5 img-6';
    }
    .img-gallery a {
        height: 20rem;
    }
    .bottom-separator .btn-bottom {
        margin-right: 20px;
    }
    .bottom-separator .tdm-title {
        margin-left: 20px;
    }
    .footer-container {
        padding: 10px 3%;
    }

}

@media only screen and (max-width: 767px){
    .top-bar, .menu-bar {
        display: none;
    }
    .image-header {
        display: none;
    }
    header .btn {
        padding: 8px 20px;
    }
    .header-right {
        margin: 30px auto;
        text-align: center;
    }
    .header-right h2 {
        font-size: 20px;
        line-height: 10px;
    }
    .header-right h3 {
        font-size: 25px;
        line-height: 30px;
    }
    .header-right p {
        width: 100%;
        font-size: 16px;
        line-height: 26px;  
    }
    .flex {
        flex-direction: column;
    }
    .container-full {
        padding: 0;
        margin: 0;
    }
    .left-side {
        text-align: left;
    }
    .left-side h3 {
        font-size: 20px;
        line-height: 30px;
    }
    .box {
        margin-bottom: 20px;
    }
    .flex > .box {
        padding: 10px;
    }
    .box p {
        padding: 0 50px;
    }
    .title_section {
        padding: 10px 0;
    }
    .title_section h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .center {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .background .title_section {
        width: 70%;
    }
    .dental_team .box {
        margin-bottom: 20px;
    }
    .left-side .btn-right {
        margin-top: 15px;
    }
    .testimonial-descr {
        width: 100%;
    }
    .testimonial-quote {
        margin: 30px auto;
    }
    .testimonial-quote p {
        width: 100%;
    }
    .title_section .brands {
        width: 40%;    
    }
    .block-brand {
        width: 90%;
    }
    .title_section .brands {
        font-size: 20px;
        line-height: 30px;
        width: 100%;
    }
    .img-gallery {
        grid-template-columns: 1fr;
        grid-template-areas: 
                'img-1'
                'img-2'
                'img-3'
                'img-4'
                'img-5' 
                'img-6';
    }
    .img-gallery a {
        height: 15rem;
    }
    .google-map {
        width: 100%;
    }
    .contact {
        margin-top: 0;
    }
    .bottom-separator {
        padding-bottom: 20px;
    }
    .bottom-separator .tdm-title{
        margin-left: 0;
        text-align: center;
        font-size: 20px;
        line-height: 30px;
        width: 82%;
    }
    .bottom-separator .btn-bottom {
        margin-right: 0;
    }
    .contact-us {
        width: 100%;
    }

    .footer-col {
        float: none;
        width: 100%;
    }
    .footer-container {
        height: 100%;
        padding: 20px 0px;
    }
}

@media screen and (max-width:768px){
    header {
        margin-top: 95px;
    }
    .mobile-sticky-menu {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        margin-top: 0;
        border-bottom: 1px solid #eaeaea;
        background-color: rgba(255, 255, 255, 0.95);
        z-index: 999;
    }

    .mobile-sticky-menu .flex {
        flex-direction: row;
    }
    .mobile-logo img {
        max-width: 180px;
        height: 48px;
    } 
    
    .hamburger {
        background-color: transparent;
        cursor: pointer;
        border: none;
        display: block;
        position: relative;
        z-index: 99;
    }
    .hamburger:hover {
        transform: scale(1.2);
    }
    .hamburger:focus {
        outline: none;
    }
    .icon-close {
        display: none;
    }
    .show-nav .icon-close {
        display: block;
    }
    .show-nav .icon-hamburger {
        display: none;
    }
    .show-nav ul {
        transform: translateX(0);
    }
    .menu {
        background-color: #fff;
        font-size: 18px;
        font-weight:700;
        color:#2e5d7a;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);;
        flex-direction: column;
        position: fixed;
        top: 71px;
        left: 20px;
        padding-left: 0;
        text-align: center;
        width: calc(100% - 40px);
        transform: translate(120%);
        z-index: 100;
        transform: transform 0.4s ease;
    }
    .menu li a {
        text-decoration: none;
    }
    .menu li {
        padding: 12px 20px 12px 12px;
    }

    .mobile-search i {
        font-size: 22px;
    }
}